<a href="/authors">Author Index</a>
<a href="/books">Book Index</a>
<h1>All Authors</h1>

<% @authors.each do |author| %>
  <h3><a href="/authors/<%= author.id %>"><%= author.name %></a></h3>
  <a href="/authors/<%= author.id %>/edit">Edit</a>
  <form action="/authors/<%= author.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>