<a href="/authors">Author Index</a>

<h1><%= @author.name %></h1>

<p><%= @author.hometown %></p>
<p><%= @author.currently_writing %></p>
<p><%= @author.total_awards %></p>

<a href="/authors/<%= @author.id %>/edit">Edit</a>