<a href="/authors">Author Index</a>
<a href="/books">Book Index</a>

<h1><%= @author.name %></h1>
<li><a href="/authors/<%= @author.id %>/books/new">Create Book for Author</a></li>

<a href="/authors/<%= @author.id %>/books/">Books</a>
<p>Number of Associated Books: <%= @book_count %></p>

<p><%= "Author Hometown: #{@author.hometown}" %></p>
<p><%= "Currently Writing?: #{@author.currently_writing}" %></p>
<p><%= "Author Total Awards: #{@author.total_awards}" %></p>
<a href="/authors/<%= @author.id %>/edit">Update Author</a>
<form action="/authors/<%= @author.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
</form>