<a href="/authors">Author Index</a>
<a href="/books">Book Index</a>

<h1><%= @author.name %></h1>
<p>Number of Associated Books: <%= @book_count %></p>

<p><%= "Author Hometown: #{@author.hometown}" %></p>
<p><%= "Currently Writing?: #{@author.currently_writing}" %></p>
<p><%= "Author Total Awards: #{@author.total_awards}" %></p>
<a href="/authors/<%= @author.id %>/edit">Edit</a>