<a href="/authors">Author Index</a>

<h1><%= @author.name %></h1>

<h2><%= "Author hometown: #{@author.hometown}" %></h2>
<h2><%= "Author currently writing: #{@author.currently_writing}" %></h2>
<h2><%= "Author total awards: #{@author.total_awards}" %></h2>
<a href="/authors/<%= @author.id %>/edit">Edit</a>