<a href="/authors">Author Index</a>
<a href="/books">Book Index</a>

<h1><%= @author.name %></h1>

<p><%= "Author hometown: #{@author.hometown}" %></p>
<p><%= "Currently writing?: #{@author.currently_writing}" %></p>
<p><%= "Author total awards: #{@author.total_awards}" %></p>
<a href="/authors/<%= @author.id %>/edit">Edit</a>