<a href="/authors">Author Index</a>
<a href="/books">Book Index</a>
<%= form_with url: "/books/#{@book.id}", method: :patch, local: true do |form| %>
  <%= form.label :book_name %>
  <%= form.text_field :book_name %>
  <%= form.label :genre %>
  <%= form.text_field :genre %>
  <%= form.label :series %>
  <%= form.check_box :series %>
  <%= form.label :total_pages %>
  <%= form.text_field :total_pages %>
  <%= form.submit 'Update Book' %>
<% end %>
